:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #345d7c;
  --color-more-white: #d8d8d891;
  --color-more-grey: #474747;
  --color-grey: #8f8e8e;
  --color-light-grey: #dfdfdf;
  --color-light-pink: #e2d7d7;

  /*font*/
  --font-style: Courier;
  --font-family: "Source Sans Pro", sans-serif;

  /*Size*/
  --font-size: 30px;
  --font-size-small: 15px;
  --font-size-normal: 20px;
  --font-size-large: 40px;
  --font-size-larger: 45px;
  --base-size: 15px;

  /*animation*/
  --animation-duration: 300ms;
}

/* Toggle Menu */
.toggleMenu {
  position: fixed;
  right: 0px;
  width: 0px;
  height: 100vh;

  overflow: hidden;

  background-color: var(--color-more-white);
  font-size: var(--font-size-normal);
  color: var(--color-grey);
  font-weight: bold;

  transition: 0.8s ease;
}

.menu-item {
  padding: 10px;
}

.menu-items {
  list-style: none;
  line-height: 50px;
}

.menu-item a {
  text-decoration-line: none;
}

.menu-item a:link,
.menu-item a:visited {
  color: var(--color-grey);
}

.menu-item a:hover {
  color: var(--color-black);
}

.menu-item:hover {
  color: var(--color-more-grey);
  cursor: pointer;
}

.toggleBtn {
  color: var(--color-grey);
  position: fixed;
  top: 10px;
  right: 10px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--color-light-grey);
  font-family: var(--font-style);
}

/* limited&unlimited buttons */
.timeSetOptions {
  padding: var(--base-size);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeSet-ul {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeSet-ul li {
  padding-top: var(--base-size);
}

.timeSet-ul button {
  outline: none;
  background-color: var(--color-light-pink);
  border: none;
  cursor: pointer;

  font-size: var(--font-size-larger);
  font-family: var(--font-family);
  color: var(--color-black);

  transition: transform var(--animation-duration) ease;
}

.timeSet-ul .limited {
  padding: 0 calc(var(--font-size-larger) * 2);
}

.timeSet-ul button.unlimited {
  padding: 0 calc(var(--font-size-larger) * 1.2);
}

.timeSet-ul button:hover {
  transform: scale(1.05);
  font-weight: bold;
}

/* option A */
.optionA {
  padding: var(--base-size);
  width: 90%;
  height: 70vh;
}

.AsetNumber,
.Atime,
.restSpan {
  display: flex;
  justify-content: center;
  align-self: center;
}

.AsetNumber {
  margin-bottom: var(--font-size-larger);
  font-size: calc(var(--font-size-larger) * 1.2);
  font-weight: bold;
}

.restSpan {
  font-size: var(--font-size-large);
  font-weight: lighter;
  margin-bottom: calc(var(--base-size) * 3);
  padding-left: 15px;
}

.Atime {
  font-size: calc(var(--font-size-larger) * 3);
  background-color: var(--color-light-pink);
  border-radius: 25px;
}
