:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #345d7c;
  --color-more-white: #d8d8d891;
  --color-more-grey: #474747;
  --color-grey: #8f8e8e;
  --color-light-grey: #dfdfdf;

  /*font*/
  --font-style: Courier;

  /*Size*/
  --font-size: 30px;
  --font-size-small: 20px;
  --font-size-large: 40px;
  --font-size-larger: 45px;
  --base-size: 15px;

  /*animation*/
  --animation-duration: 300ms;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--color-light-grey);
  font-family: var(--font-style);
}

.toDoListForm {
  border: 1px solid black;
}

.trackingSheetForm {
  border: 1px solid black;
}
