:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #345d7c;
  --color-more-white: #d8d8d891;
  --color-more-grey: #474747;
  --color-grey: #8f8e8e;
  --color-light-grey: #dfdfdf;
  --color-light-pink: #e2d7d7;

  /*font*/
  --font-style: Courier;

  /*Size*/
  --font-size: 30px;
  --font-size-small: 15px;
  --font-size-normal: 20px;
  --font-size-large: 40px;
  --font-size-larger: 45px;
  --base-size: 15px;

  /*animation*/
  --animation-duration: 300ms;
}

/* Toggle Menu */
.toggleMenu {
  position: fixed;
  right: 0px;
  width: 0px;
  height: 100vh;

  overflow: hidden;

  background-color: var(--color-more-white);
  font-size: var(--font-size-small);
  color: var(--color-grey);
  font-weight: bold;

  transition: 0.8s ease;
}

.menu-item {
  padding: 10px;
}

.menu-items {
  list-style: none;
  line-height: 50px;
}

.menu-item a {
  text-decoration-line: none;
}

.menu-item a:link,
.menu-item a:visited {
  color: var(--color-grey);
}

.menu-item a:hover {
  color: var(--color-black);
}

.menu-item:hover {
  color: var(--color-more-grey);
  cursor: pointer;
}

.toggleBtn {
  color: var(--color-grey);
  position: fixed;
  top: 10px;
  right: 10px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--color-light-grey);
  font-family: var(--font-style);
}

.toDoListSheet {
  border: 1px solid black;
  height: 60vh;
  width: 45%;
  margin: 0px var(--base-size);
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 15px;
  border-style: none;
  background-color: #cac2c1ce;
  transition: transform var(--animation-duration) ease;
}

.toDoListSheet:hover {
  transform: scale(1.05);
}

.toDoListSheet .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--base-size);
  color: var(--color-black);
  font-size: var(--font-size);
  font-weight: bold;
}

.toDoListSheet .date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--base-size);
  font-size: var(--font-size-small);
  color: var(--color-black);
  font-weight: bold;
}

.toDoListSheet .toDoList-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: var(--font-size-normal);
  padding-left: 5px;
}

.toDoListSheet .toDoList-li {
  border-bottom: 1px solid var(--color-black);
  margin: 5px var(--base-size);
}

.toDoListSheet .span-toDoItem {
  padding: 0 var(--base-size);
}

.toDoListSheet .deleteBtn {
  float: right;
  margin-right: var(--base-size);
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toDoListSheet .toDoListForm {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}

.toDoListSheet .inputForToDo {
  width: 95%;
  height: 15%;
  position: absolute;
  bottom: 10px;
  border-style: none;
  font-size: var(--font-size-normal);
  background-color: var(--color-light-pink);
  border-radius: 10px;
}

.toDoListSheet .inputForToDo::placeholder {
  padding-left: 10px;
  color: var(--color-light-grey);
}

.toDoListSheet .inputForToDo:focus {
  outline: none;
}

/* Tracking Sheet */
.trackingSheetForm {
  border: 1px solid black;
  height: 60vh;
  width: 45%;
  margin: 0px var(--base-size);

  border-radius: 15px;
  border-style: none;
  background-color: #cac2c1ce;
  transition: transform var(--animation-duration) ease;
}

.trackingSheetForm:hover {
  transform: scale(1.05);
}

.trackingSheetForm .tracking-title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  margin-top: var(--base-size);
  color: var(--color-black);
  font-size: var(--font-size);
  font-weight: bold;
}

.trackingSheetForm .tracking-title .delteBtnForTracking {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  color: var(--color-grey);
}

.trackingSheetForm .tracking-title .delteBtnForTracking:hover {
  transform: scale(1.05);
}

.trackingSheetForm .tracking-title .fa-trash-alt {
  margin-left: var(--font-size-normal);
  font-size: var(--font-size-normal);
}

.trackingSheetForm .trackingSheet-ul {
  list-style: none;
  font-size: var(--font-size-small);
  padding: 0px;
}

.trackingSheetForm .trackingSheet-ul .hr {
  font-size: var(--font-size-normal);
  display: flex;
  flex-direction: row;

  padding-left: var(--base-size);
}

.trackingSheetForm .trackingSheet-ul .trackingForm {
  margin-left: var(--base-size);
  width: 100%;
}

.trackingSheetForm .trackingSheet-ul .trackingForm .inputForTracking {
  width: 95%;
  border-style: none;
  font-size: var(--font-size-small);
  background-color: var(--color-light-pink);
  border-radius: 10px;
}

.trackingSheetForm
  .trackingSheet-ul
  .trackingForm
  .inputForTracking::placeholder {
  align-items: center;
}

.trackingSheetForm .trackingSheet-ul .trackingForm .inputForTracking:focus {
  outline: none;
}
