:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #345d7c;
  --color-grey: #8f8e8e;
  --color-light-grey: #dfdfdf;

  /*font*/
  --font-style: Courier;

  /*Size*/
  --font-size: 30px;
  --font-size-small: 25px;
  --font-size-large: 40px;
  --font-size-larger: 45px;
  --base-size: 15px;

  /*animation*/
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-light-grey);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-style);
}

/* Date and Clock */
.dateWithClock {
  -webkit-text-stroke: 1px var(--color-white);
  font-size: var(--font-size);
  font-weight: bold;
  padding-bottom: var(--font-size);
}

.dateWithClock .date {
  font-size: var(--font-size-large);
  display: inline-block;
  transition: transform var(--animation-duration) ease;
}

.dateWithClock .clock {
  position: relative;
  left: 30%;
  display: inline-block;
  transition: transform var(--animation-duration) ease;
}

.date:hover,
.clock:hover {
  transform: scale(1.1);
}

/* User Name */
.userName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--base-size);
  width: 25%;
}

.userNameInput {
  background-color: transparent;
  text-align: center;
  font-size: calc(var(--font-size) / 2);
  width: 100%;
  padding: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  transition: transform var(--animation-duration) ease;
}

::-webkit-input-placeholder {
  text-align: center;
  color: var(--color-grey);
  font-size: 20px;
}

.userNameInput:hover {
  transform: scale(1.1);
}

.userNameInput:focus {
  outline: none;
}

.userNameValue {
  -webkit-text-stroke: 1px var(--color-white);
  font-size: var(--font-size);
  font-weight: bold;
}
